bin/aped
src/configure.h
modules/lib/libmod_spidermonkey.so*
modules/mysql.mk
modules/plateform.mk

deps/js/src/*.o
deps/js/src/js-confdefs.h
deps/js/src/js-config
deps/js/src/js-config.h
deps/js/src/.deps/
deps/js/src/Makefile
deps/js/src/config.*
deps/js/src/config/autoconf.mk
deps/js/src/config/*.o
deps/js/src/config/nfspwd
deps/js/src/config/nsinstall
deps/js/src/dist/
deps/js/src/host_jskwgen
deps/js/src/host_jsoplengen
deps/js/src/jsautocfg.h
deps/js/src/jsautokw.h
deps/js/src/jsautooplen.h
deps/js/src/jscpucfg
deps/js/src/libjs_static.a
deps/js/src/libmozjs.dylib

deps/udns*/*.o
deps/udns*/dnsget
deps/udns*/ex-rdns
deps/udns*/rblcheck
deps/udns*/config.log
deps/udns*/libudns.a

