#more,#ape_master_container {
	width:685px;
	margin:auto;
}

#ape_master_container {
	height:385px;
	background:url(/demos/move/img/bg.png);
	border:8px solid #4c4c4c;
}

#sendbox_input {
	border:none;
	font-weight:700;
	width:540px;
	margin-right:10px;
	border:none;
	background:none;
	color:#FFF;
}

.demo_box_container .user {
	width:100%;
	height:100%;
}

.demo_box_container {
	width:36px;
	height:36px;
	position:absolute;
}

.demo_box_container .user {
	background:url(/demos/move/img/round.png);
	-background-image:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop src='/demos/move/img/round.png');
}

.demo_box_container span {
	color:#fff;
	font-size:14px;
}

#ape_sendbox_container {
	border-left:4px #FFF;
	background:url(/demos/move/img/bottom.png);
	width:686px;
	margin-left:-8px;
	margin-top:385px;
	height:49px;
	margin-top:345px;
	color:#FFF;
	font-weight:700;
	padding-left:15px;
	line-height:51px;
	font-size:13px;
}

#sendbox_button {
	color:#d58025;
	width:70px;
	height:35px;
	background:none;
	font-weight:700;
	border:none;
}

.ape_message_container {
	white-space:normal;
	width:244px;
	margin-left:21px;
	margin-top:-77px;
}

.msg_top {
	background:url(/demos/move/img/msg_top.png) no-repeat;
	padding-top:5px;
	height:17px;
}

.ape_message {
	background:url(/demos/move/img/msg_mid.png) repeat-y;
	padding-left:24px;
	overflow:hidden;
	font-size:16px;
	line-height:20px;
	font-family:Verdana;
	color:#5f5f60;
}

.msg_bot {
	background:url(/demos/move/img/msg_bot.png) repeat-y;
	height:9px;
}

.move_box {
	height:345px;
	width:682px;
	position:absolute;
}