<link rel="stylesheet" type="text/css" href="/demos/mmorpg/css/mmo.css" media="screen" title="Normal" />
<script type="text/javaScript" src="/assets/apejsf/mootools-core.js"></script>
<script type="text/javaScript" src="/assets/apejsf/apeClient.min.js"></script>
<script type="text/javaScript" src="/assets/apejsf/apeConfig.js"></script>
<script type="text/javaScript" src="/demos/mmorpg/js/ge.js"></script>
<script type="text/javaScript" src="/demos/mmorpg/js/apemmo.js"></script>

<!-- if IE>
	<div class="note">This demo might be laggy on Internet Explorer, because canvas are emulated.</div>
<![endif]-->
<script type="text/javascript">
//<!--
   var client = new APE.MmoClient('plop');
//-->
</script>
<div id="plop">
        <div id="apemmo">
                <canvas id="canvas" width="800" height="400"></canvas>
                <div id="prompt">&nbsp;</div>
        </div>
</div>