<div class="row-fluid">
	<div class="span4">
		<a class="demo-well" href="/demos/chat/">
			<div class="well clearfix">
				<img src="/demos/chat/img/snapshot.png" class="pull-left" />
				<h4 class="fit">APE real time chat</h4>
				<p>A simple chat demo, multi-user and private messages.</p>
			</div>
		</a>
	</div>
	<div class="span4">
		<a class="demo-well" href="/demos/move/">
			<div class="well clearfix">
				<img src="/demos/move/img/snapshot.png" class="pull-left" />
				<h4 class="fit">Move demo</h4>
				<p>Demo of multi-user moving and chating in real time.</p>
			</div>
		</a>
	</div>
	<div class="span4">
		<a class="demo-well" href="/demos/irc">
			<div class="well clearfix">
				<img src="/demos/irc/img/snapshot.png" class="pull-left" />
				<h4 class="fit">TCPSocket Demo (IRC)</h4>
				<p>Gateway to IRC using the TCPSocket feature. Come chat with us ;)</p>
			</div>
		</a>
	</div>
</div>

<div class="row-fluid">
	<div class="span4">
		<a class="demo-well" href="/demos/walk">
			<div class="well clearfix">
				<img src="/demos/walk/img/snapshot.png" class="pull-left" />
				<h4 class="fit">Old homepage demo</h4>
				<p>This is the demo from the old home page of APE.</p>
			</div>
		</a>
	</div>
	<div class="span4">
		<a class="demo-well" href="/demos/mmorpg/">
			<div class="well clearfix">
				<img src="/demos/mmorpg/img/snapshot.png" class="pull-left" />
				<h4 class="fit">MMORPG</h4>
				<p>A demo of a small massive multiplayer role playing game!</p>
			</div>
		</a>
	</div>
	<div class="span4">
		<a class="demo-well" href="/demos/pixelbox">
			<div class="well clearfix">
				<img src="/demos/pixelbox/img/snapshot.png" class="pull-left" />
				<h4 class="fit">Pixelbox</h4>
				<p>Draw with everyone in real time</p>
			</div>
		</a>
	</div>
</div>